<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="대덕대학교 LMS">
    <meta name="author" content="대덕대학교">

    <title>대덕대학 LMS System 학습활동 스트림</title>

    <!-- 구글 폰트 입력 부분-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <!--    사용자 편집 CSS-->
    <link href="css/lineedu.css" rel="stylesheet">

</head>

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!--            대학로고 일반-->
            <a class="sidebar-brand d-flex align-items-center justify-content-center my-3" href="index.html">
                <span class="sidebar-brand- icon">
                    <img src="/img/symbol-icon.png" alt="" height="40">
                </span>
                <div class="sidebar-brand-text">
                    <img src="img/symbol-white.png" alt="" width="150" height="auto">
                </div>
            </a>

            <!-- 분리선-->
            <hr class="sidebar-divider my-0">

            <!-- 대시보드 네비케이터 (추후 개발 필요현황 -->
            <li class="nav-item active text-center">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-list"></i>
                    <span>HOME</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- 카테고리 분류 -->
            <div class="sidebar-heading">
                수강현황
            </div>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-book-open"></i>
                    <span>수강과목</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="study_act.html">
                    <i class="fas fa-fw fa-rss-square"></i>
                    <span>학습활동</span></a>
            </li>

            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"-->
            <!--                    aria-expanded="true" aria-controls="collapseTwo">-->
            <!--                    <i class="fas fa-fw fa-cog"></i>-->
            <!--                    <span>드롭다운 필요시 사용할 코드</span>-->
            <!--                </a>-->
            <!--                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">-->
            <!--                    <div class="bg-white py-2 collapse-inner rounded">-->
            <!--                        <h6 class="collapse-header">드롭다운 소제목</h6>-->
            <!--                        <a class="collapse-item" href="#">1</a>-->
            <!--                        <a class="collapse-item" href="#">2</a>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </li>-->


            <hr class="sidebar-divider">


            <div class="sidebar-heading">
                지원센터
            </div>


            <li class="nav-item">
                <a class="nav-link" href="supply.html">
                    <i class="fas fa-fw fa-university"></i>
                    <span>지원센터</span>
                </a>
                <a class="nav-link" href="notice_create.html">
                    <i class="fas fa-fw fa-edit"></i>
                    <span>공지사항 등록</span>
                </a>
                <a class="nav-link" href="faq_create.html">
                    <i class="fas fa-fw fa-user-edit"></i>
                    <span>FAQ 등록</span>
                </a>
            </li>


            <hr class="sidebar-divider d-none d-md-block">


            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>


        <div id="content-wrapper" class="d-flex flex-column">

            <!--           메인화면-->
            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- 탭부분 네비게이션-->
                    <ul class="navbar-nav ml-auto">
                        <!-- 알림아이콘 부분 -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw" id="alert-bell"></i>
                                <!-- 알림 숫자 -->
                                <span class="badge badge-danger badge-counter">0</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    대덕대학교 알림센터
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">2023 - 03 - 02</div>
                                        <span class="font-weight-bold">추후 서비스 오프 예정입니다.</span>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">모든 알림 보러 가기</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw" id="envelope-alert"></i>
                                <!--                            메시지 카운터 알림 숫자-->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!--                        메시지 드롭다운-->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    메시지함
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">추후 서비스 예정입니다.
                                        </div>
                                        <div class="small text-gray-500">관리자 · 1일전</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">메시지 모두 보기</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600" style="font-size: 1.2rem">이호진
                                    학생</span>
                                <i class="img-profile rounded-circle fas fa-fw fa-user-cog"></i>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    나의 정보 관리
                                </a>

                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    로그아웃
                                </a>
                            </div>
                        </li>
                        <li class="nav-item mt-3">
                            <a href="#" class="btn btn-outline-primary">강의실</a>
                        </li>
                    </ul>
                </nav>

                <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-2">
                        <h1 class="h4 mb-0 text-gray-800 font-weight-bold">학습 활동 상황</h1>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="card shadow mb-2 table_box">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">학습현황</h6>
                            </div>
                            <div class="card-body table_list">
                                <div class="d-flex justify-content-start subject_select">
                                    <select name="subject_title" class="custom-select-sm" v-model="courseId"
                                        @change="getStates">
                                        <option value="">과목를 선택하세요</option>
                                        <option :value="learning.id" v-for="learning in learnings">{{ learning.name
                                            }}
                                        </option>
                                    </select>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td>학번</td>
                                                <td>이름</td>
                                               <td colspan="3">과일</td>

                                                <tr>
                                                <td></td>
                                                <td></td>
                                                <td>바나나</td>
                                                <td>파인애플</td>
                                                <td>코코넛</td>
                                                </tr>
                                            </tr>
                                            
                                            
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 푸터 -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 대덕대학교 LMS System</span>
                    </div>
                </div>
            </footer>
        </div>

    </div>


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- 로그아웃 창-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">로그아웃 하시겠습니까?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                    <a class="btn btn-primary" href="login.html">로그아웃</a>
                </div>
            </div>
        </div>
    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!--자바스크립트 커스텀 부분 밑에 넣으세요-->
    <script src="js/lineEdu.js"></script>

</body>

</html>